{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block monTitre %}Famille {{famille.libelle}}{% endblock %}

{% block body %}

<div>{{ famille.description }}</div>

<div class="row">

    {% for animal in famille.animaux %}
    <div class="col-6">
        <div class="row align-items-center">
            <div class="col-12 cold-md-6 col-lg-2 text-center">


                <img class="img-fluid" src="{{asset('images/' ~ animal.image )}}">
            </div>
            <div class="col-auto text-center">

                <h2><a href="{{path('afficher_animal', {'id' : animal.id})}}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
                <div><a href="" class="btn btn-primary">{{ animal.famille.libelle }}</a></div>

            </div>
            <div>
    
                {% for continent in animal.continents %}
                
                <a href="{{path('afficher_continent', {'id' : continent.id })}}"
                class="btn btn-warning">{{ continent.libelle }}</a>
                
                {% endfor %}
                
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}