{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block monTitre %}Pages listants les familles{% endblock %}

{% block body %}

{% for famille in familles %}

<h2 class="border-bottom border-primary"><a
        href="{{path('afficher_famille', {'id' : famille.id })}}">{{ famille.libelle|capitalize }}</a></h2>
<div>{{ famille.description }}</div>

<div class="row">

    {% for animal in famille.animaux %}
    <div class="col-6">
        <div class="row align-items-center">
            <div class="col-12 cold-md-6 col-lg-2 text-center">


                <img class="img-fluid" src="{{asset('images/' ~ animal.image )}}">
            </div>
            <div class="col-auto text-center">

                <h2><a href="{{path('afficher_animal', {'id' : animal.id})}}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>

            </div>

            <div>

                {% for continent in animal.continents %}
                
                <a href="{{path('afficher_continent', {'id' : continent.id })}}"
                class="btn btn-warning">{{ continent.libelle }}</a>
                
                {% endfor %}
                
            </div>


        </div>
    </div>

    {% endfor %}
</div>

{% endfor %}

{% endblock %}