{% extends 'base.html.twig' %}

{% block title %} Page d'accueil {% endblock %}

{% block monTitre %}Voici la liste des animaux{% endblock %}

{% block body %}



{% for animal in animaux %}

<div class="row align-items-center">
    <div class="col-2 text-center">

    
        <img src="{{asset('images/' ~ animal.image )}}">
    </div>
    <div class="col-auto">

        <h2><a href="{{path('afficher_animal', {'id' : animal.id})}}">{{ animal.nom }}</a></h2>
        <div>{{ animal.description }}</div>
        <div><a class="btn btn-primary" href="{{path('afficher_famille', {'id' : animal.famille.id })}}">{{ animal.famille.libelle }}</a></div>
        <div>
            {% for continent in animal.continents %}

            <a href="{{path('afficher_continent', {'id' : continent.id })}}" class="btn btn-warning">{{ continent.libelle }}</a>
                
            {% endfor %}
        </div>

        <div>
            {% for dispose in animal.disposes %}
                

            <a class="btn btn-info" href="{{path('afficher_personne', {'id' : dispose.personne.id })}}">{{dispose.personne.nom}}</a>



            {% endfor %}
        </div>
        
    </div>
    

</div>

{% endfor %}


{% endblock %}
