{% extends 'base.html.twig' %}

{% block title %} Continents {% endblock %}

{% block monTitre %}Continent : {{continent.libelle}}{% endblock %}

{% block body %}

<div class="row">

    {% for animal in continent.animaux %}
    <div class="col-6">
        <div class="row align-items-center">
            <div class="col-12 cold-md-6 col-lg-2 text-center">


                <img class="img-fluid" src="{{asset('images/' ~ animal.image )}}">
            </div>
            <div class="col-auto text-center">

                <h2><a href="{{path('afficher_animal', {'id' : animal.id})}}">{{ animal.nom }}</a></h2>
                <div>{{ animal.description }}</div>
                <div><a href="{{path('afficher_famille', {'id' : animal.famille.id })}}"
                        class="btn btn-primary">{{ animal.famille.libelle }}</a></div>

            </div>

            <div>

                {% for continentAnimal in animal.continents %}

                {% if continentAnimal.id != continent.id %}
                
                <a href="{{path('afficher_continent', {'id' : continentAnimal.id })}}"
                class="btn btn-warning">{{ continentAnimal.libelle }}</a>
                
                {% endif %}
                {% endfor %}
                
            </div>
        </div>

    </div>

    {% endfor %}
</div>



{% endblock %}